{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="subscriber-form">
  <h5>Sign Up Information</h5>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p> <br>
<form action="{% url 'subscribers_create' %}" enctype="multipart/form-data" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Sign Up Now!" class="btn-flat">
</form>
</div>
<aside class="image-sign-up">
  <img src="https://i.imgur.com/BGmpEG6.png" alt="female chef arms folded, smiling next to a table in traditional farm style restaurant">
  <figcaption><h5>Get with the program</h5><p>Condimentum sapien, dui dictum facilis mattis.</p></figcaption>
  <ul>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Lorem ipsum dolor sit amet</li>
  </ul>
</aside>
</div>
<script>
  const dateEl = document.getElementById('id_special_date');
M.Datepicker.init(dateEl, {
format: 'yyyy-mm-dd',
defaultDate: new Date(),
setDefaultDate: true,
autoClose: true
});
const dateNameEl = document.getElementById('id_special_date_name');
M.FormSelect.init(dateNameEl);
const frequencySelectEl = document.getElementById('id_frequency');
M.FormSelect.init(frequencySelectEl);
</script>

{% endblock %}