{% extends 'base.html' %}

{% block content %}
<img class="hero-img" style="max-width: 80vw;"src="https://i.imgur.com/MStCtIL.png"
<hr>
<div class="card"></div>
   <div class="card-content">
       <div class="now-open"></div>
       <span class="card-title" style="font-weight: bold;">Now Open!</span>
       <p>We're so excited to serve you!</p>
       <p>New policies and steps we're takingto ensure everone's dining safety.<div style="font-weight: bold; color: blue;">Read more here.</div></p>
       </div>
   </div>
</div>
<div class="card"></div>
   <div class="card-content">
       <div class="reservations"></div>
       <span class="card-title" style="font-weight: bold;">Reservations</span>
       <p>Book your table now:</p>
       </div>
   </div>
</div>

{% endblock %}